matrix:
  include:
    - os: linux
      dist: precise
      #     language: c
      #     compiler: gcc
      language: generic
      env: TRAVIS_PYTHON_VERSION=3.6 CC=i686-w64-mingw32-gcc CROSS_COMPILE=1
      addons:
        apt:
          packages:
            - gcc-mingw-w64-x86-64
            - binutils-mingw-w64-x86-64
            - mingw-w64-dev 

    - os: linux
      dist: trusty
      language: generic
      env: TRAVIS_PYTHON_VERSION=3.6 CC=gcc-4.4 FC=gfortran-4.4 
      addons:
        apt:
          packages:
            - gfortran-4.4
            - gcc-4.4
            - tcl-dev

    - os: osx
      language: generic
      env: TRAVIS_PYTHON_VERSION=3.6 CC=gcc FC=gfortran

install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh; fi

  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes 
  - conda update --all -y
  - conda install anaconda-client conda-build -y

  - conda create -q -n travis-env python=$TRAVIS_PYTHON_VERSION 
  - source activate travis-env

  - git describe --tags 
  - export BUILD_VERSION=$(git describe --tags | sed 's/-/ /g' | awk '{print $1}')
  # - export BUILD_NUMBER=$(git describe --tags | sed 's/-/ /g' | awk '{print $2}')
  # Always set it to 0 so we don't get a new release at every successful commit
  - export BUILD_NUMBER=0

  - conda build --no-include-recipe package/psfgen/
  - conda install psfgen --use-local

script:

after_success:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - echo $PATH
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "$TRAVIS_TAG" ]; anaconda -t $ANACONDA_TOKEN upload  $HOME/miniconda/conda-bld/*-64/psfgen-[0-9]*.tar.bz2 -u acellera ; fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "$TRAVIS_TAG" ] && [ "$CROSS_COMPILE" == "1" ]; then conda convert -f -p win-64 $HOME/miniconda/conda-bld/*-64/psfgen-[0-9]*.tar.bz2; anaconda -t $ANACONDA_TOKEN upload win-64/psfgen*bz2 -u acellera ;  anaconda -t $ANACONDA_TOKEN upload win-64/psfgen*bz2 -u acellera-basic ; fi
